<!--Author Widget-->
<aside class="row m0 widget-author widget">
    <div class="widget-author-inner row">
        <div class="author-avatar row"><a href="#"><img src="/app/assets/images/author.png" alt="" class="img-circle"></a></div>
        <a href="#"><h2 class="author-name">{{username}}</h2></a>
        <h5 class="author-title">上面应该是编辑者,显示的是用户</h5>
        <p>这里做一些简介比较合适</p>
        <a href="#" class="know-more">learn whole message of editor</a>
    </div>
    <ul class="nav social-nav">
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
    </ul>
</aside>