<!--Author Widget-->
<aside class="row m0 widget-author widget">
    <div class="widget-author-inner row">
        <div class="author-avatar row"><a href="#"><img src="/app/assets/images/author.png" alt="" class="img-circle"></a></div>
        <a href="#"><h2 class="author-name">Mark Sanders</h2></a>
        <h5 class="author-title">small title</h5>
        <p>The word nature is derived from the Latin word natura, or "essential qualities, innate disposition", and in ancient times, literally meant "birth".</p>
        <a href="#" class="know-more">know more</a>
    </div>
    <ul class="nav social-nav">
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
    </ul>
</aside>