{% extends "layout.html" %}
{% block content %}
{% include "common/singleHead.html" %}

<!--↑集成layout格局-->
<!--↑content模块-->
<!--↑包含单页面专属头部-->
<link rel="stylesheet" href="/app/assets/css/login.css">
<div class="wrapper">
    <form id="myForm" action="" class="myForm" method="post" >

        <div class="loginBox">
            <div class="loginBoxCenter">
                <!--UserName-->
                <p><label for="username">用户名：{{notice}}</label></p>
                <p><input type="text" id="username" name="username" class="loginInput" autofocus="autofocus" required="required" autocomplete="off" placeholder="请输入邮箱/手机号"/></p>
                <!--PassWord-->
                <p><label for="password">密码：</label></p>
                <p><input type="password" id="password" name="password" class="loginInput" required="required" placeholder="请输入密码" /></p>

                <p><a class="forgetLink" href="#">忘记密码?</a></p>
                <input id="remember" type="checkbox" name="remember" />
                <label for="remember">记住登录状态</label>
            </div>
            <div class="loginBoxButtons">
                <button class="loginBtn" id="submitBut">登录</button>
                <div> 新用户注册</div>
            </div>
        </div>
    </form>
</div>
<script>
    $("#submitBut").click(
        function(){
            var username = $("#username").val();
            var password = $("#password").val();
            var content = "c";
            var post = "{{notice}}";

            var xmlhttp;
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    $("[for=username]").innerText="aaa";
                }
            };
            xmlhttp.open("POST","/admin/login/",true);
            xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            xmlhttp.send("username="+username+"&password="+password+"&content="+content);
        }
    );

</script>

<!--=========尾巴========-->
{% include "common/commonFoot.html" %}

{% endblock %}