{% extends "layout.html" %}
{% block content %}

<!--header-->
{% include "common/singleHead.html" %}
<!--headerEND-->

<!--所有内容-->
<section class="row content-wrap">
    <div class="container" style="padding: 2px">
        <div class="row">
            <div class="col-md-8 single-post-contents">
                <!--文章块开始-->
                <article class="single-post-content row m0 post">
                    <!--文章标题-->
                    <header class="row">
                        <h5 class="post-meta">
                            <a href="#" class="date">feb 17, 2016</a>
                            <span class="post-author"><i>by</i><a href="#">{{data[0].author}}</a></span>
                        </h5>
                        <h2 class="post-title">{{data[0].title}}</h2>
                        <div class="row">
                            <h5 class="taxonomy pull-left"><i>in</i> <a href="#">image</a>, <a href="#">entertainment</a></h5>
                            <div class="response-count pull-right"><img src="/app/assets/images/comment-icon-gray.png" alt="">5</div>
                        </div>
                    </header>
                    <!--文章标题END-->

                    <!--文章内容-->
                    <div class="post-content">
                        {% autoescape false %}
                        {{data[0].content}}
                        {% endautoescape %}
                    </div>

                    <!--文章内容END-->

                    <!--文章标签-->
                    <div class="row m0 tags">
                        <a href="#" class="tag">music</a>
                        <a href="#" class="tag">tegs</a>
                        <a href="#" class="tag">tegs hover</a>
                    </div>
                    <!--文章标签END-->

                    <!--文章翻页-->
                    <ul class="pager">
                        <li>
                            <h4>Previous {{data[0].title}}</h4>
                            <h2 class="post-title"><a href="/index/single/">Nature, in the broadest sense, is the natural...</a></h2>
                            <h5 class="taxonomy pull-left"><i>in</i> <a href="#">image</a>, <a href="#">entertainment</a></h5>
                        </li>
                        <li>
                            <h4>Next Articles</h4>
                            <h2 class="post-title"><a href="/index/single/">Nature, in the broadest sense, is the natural...</a></h2>
                            <h5 class="taxonomy pull-left"><i>in</i> <a href="#">image</a>, <a href="#">entertainment</a></h5>
                        </li>
                    </ul>
                    <!--文章翻页END-->

                    <!--文章评论-->
                    {% include "plug/commont.html" %}

                </article>
                <!--文章块END-->
            </div>

            <!--侧边栏Plug-->
            <div class="col-md-4 sidebar">
                <!--Author Widget-->
                {% include "plug/author.html" %}

                <!--Twitter Widget-->
                {% include "plug/twitter.html" %}

                <!--Instagram Widget-->
                {% include "plug/instagram.html" %}

            </div>
            <!--侧边栏END-->
        </div>
    </div>
</section>
<!--所有内容END-->


<!--Footer-->
{% include "common/CommonFoot.html" %}
<!--FooterEND-->


{% endblock %}
