<footer class="row" id="footer">
    <div class="container">
        <div class="row top-footer">
            <div class="widget col-sm-3 widget-about">
                <div class="row m0"><a href="index.html"><img src="/app/assets/images/logo-black-green.png" alt=""></a></div>
            </div>
            <div class="widget col-sm-5 widget-menu">
                <div class="row">
                    <ul class="nav column-menu white-bg">
                        <li class="active"><a href="/index/index">Home</a></li>
                        <li><a href="/index/about">About</a></li>

                        {% if userLoginState == 1 %}
                        <li><a href="/admin/posting">Posting</a></li>
                        <li><a href="/admin/logout">logout</a></li>
                        {% endif %}

                    </ul>
                    <ul class="nav column-menu white-bg">
                        <li><a href="single3.html">anther list one</a></li>

                        <li><a href="contact.html">anther list two</a></li>
                    </ul>
                </div>
            </div>
            <div class="widget col-sm-4 widget-subscribe">
                <h5 class="widget-title">subscribe to our newsletter.</h5>
                <form action="#" method="post" class="form-inline subscribe-form">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm"><span>send</span></button>
                </form>
            </div>
        </div>
    </div>
</footer>